body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(252, 250, 250, 0.685);
    padding: 0;
    margin: auto;
    position: relative;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}

.screen1{
    background-image: url(img/header-bg.png)
                        ;
    height: 100vh;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu_left, .menu_right,
menu{
    position: relative;
    padding: 0;
    display: flex;
    flex-basis: 15%;
}

menu{
    margin: 0 80px 0;
    min-height: 100px;
    justify-content: space-between;
}

.menu_left, .menu_right{
    justify-content: space-between;
    flex-basis: 40%;
    align-items: center;
}
.menu_left div, .menu_right div{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 50px;
    width: 133px;
    
}
.menu_left div::after, .menu_right div::after{
    position: absolute;
    left:45%;
    top: 40px;
    content:'';
    display: inline-block;
    opacity: 0;
    width: 0px;
    height: 2px;
    background-color: #E8C300;
    border-radius: 50px;
    transition: 500ms ease  ;

}
.menu_left div:hover::after, .menu_right div:hover::after{
    width: 15px;
    opacity: 1;
    transform: scaleX(3);
}

.wheel{
    position: absolute;
    left:45%;
    top: 25px;
    transition: 900ms ease;
}
.wheel:hover{
    transform: rotate(180deg);

}


.submenu{
    display: flex;
    padding: 0 80px 125px;
    justify-content: space-between;
    align-items: baseline;
    /* position: relative; */
    flex-basis: 45%;
}

.schedule{
    

    transform: rotate(-180deg);
    writing-mode: vertical-lr;
 

}
.submenu_centr {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.submenu_centr h1{
    /* display: flex;
    text-align: center;
    justify-content: center; */
    position: relative;
    font-family: 'bannybold_round', Poppins, sans-serif;
    font-size: 96px;
    line-height: -100px;
    text-transform: uppercase;
}

.submenu_centr h1:after{
    position: absolute;
    left: 360px;
    /* left: 50%; */
    top: 70px;
    content:'';
    display: inline-block;
    width: 60px;
    height: 5px;
    background-color: #E8C300;
    border-radius: 50px;
    transition: 500ms ease  ;
}
.submenu_centr h1:hover::after{
    transform: scaleX(9);
}
.submenu_centr h2{
    font-family: "Open Sans", sans-serif;
    line-height: 14px;

}
.submenu_centr__h2{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.submenu_buttons{
    display: flex;
    justify-content: center;
       
}
.submenu_buttons div{
    border: 1px solid rgba(255, 250, 250, 0.2);
    border-radius: 5px;
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 3   00ms ease;
    margin: 0 20px 0;

}
.submenu_buttons div:hover{
background-color: #E8C300;
}




.social{
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* align-self: stretch; */
}
.social_link{
    margin-bottom: 20px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .2);
    width: 60px;
    height: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    transition: 300ms ease;
}
.social_link:hover{
    border: 1px solid rgba(255, 255, 255, .6);
}